/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="username"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  height: 100%;
  font-family: sans-serif;
  /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3fjEy1SGEUM9PR1GEBWMUaPfMVR-iw3tNCTHjwj-T2TgXRNOOzQ");*/
  background: #4D505B;
  background-size: 100%;
}

ul {
  list-style: none;
}

.body {
  display: block;
  width: 1200px;
  margin: auto;
  background: lightgray;
}

.map {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
  float: right;
  margin: 5px 5px 0 0;
}

#content {
  background: transparent;
}

.restaurant-name {
  display: block;
}

.button {
  background: #880000;
  color: white;
  border: 1px solid black;
  margin-top: 5px;
}

.button:hover {
  background: #680000;
}

button {
  display: block;
  background: yellow;
}

a {
  background: #6666CC;
}

input {
  background: white;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
/*
#4D505B
#CF4858
#16A79D
#80628B
#F4AC42*/
