/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="username"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  height: 100%;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.body {
  display: block;
  width: 1200px;
  margin: auto;
  background: lightgray;
}

.map {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
}

#content {
  background: beige;
}

.restaurant-name {
  display: block;
}

.button {
  background: #880000;
  color: white;
  border: 1px solid black;
  margin-top: 5px;
}

.button:hover {
  background: #680000;
}

/* Home */

.home-body {
  display: block;
  width: 1200px;
  height: inherit;
  background: white;
  margin: auto;
  border: 1px solid lightgray;
}

/* Navigation bar */

.nav {
  display: block;
  height: 100px;
  width: 1200px;
  margin: auto;
  background: gray;
  border: 1px solid black;
  margin-bottom: 50px;
}

.nav-logo {
  display: block;
  font-size: 30px;
  float: left;
  margin: 20px;
  letter-spacing: 2px;
}

.nav-user-options {
  display: block;
  float: right;
  margin: 20px;
}

.logout {
  margin-bottom: 5px;
}

/* Restaurant Index */

.restaurant-index-items {
  width: 600px;
  float: left;
}

.restaurant-index-item {
  font-size: 16px;
  display: block;
  margin: 10px;
  background: white;
  height: 100px;
  width: 600px;
  border: 1px solid lightgray;
}

.restaurant-index-items-image {
  width: 150px;
  height: 100px;
  float: left;
}

.restaurant-index-item:hover {
  background: tomato;
  color: white;
}

.restaurant-index-items-body {
  float: right;
  padding: 10px 90px 15px 15px;
}

.restaurant-index-items-name {
  display: block;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.restaurant-index-items-address {
  display: block;
}

.restaurant-index-items-phone {
  display: block;
}

.restaurant-index-items-categories {
  display: block;
}

/* Restaurant */

.restaurant-image {
  width: 150px;
  height: 100px;
}


/* Review */

.review {
  display: inline-block;
  width: 600px;
  height: auto;
  padding: 10px;
  margin: 5px;
  background: white;
}

.review-title {
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.review-description {
  width: 600px;
  word-wrap: normal;
  display: inline-block;
}

button {
  display: block;
  background: yellow;
}

a {
  background: #6666CC;
}

input {
  background: white;
}
