/* Home */

.home-body {
  display: block;
  /*width: 90%;*/
  width: 1250px;

  /*background: #4D505B;*/
  opacity: .9;
  margin: auto;
  /*vertical-align: center;*/
  /*border: 1px solid lightgray;*/

}
