/* Navigation bar */

.nav {
  display: block;
  height: inherit;
  width: 1200px;
  margin: auto;
  background: transparent;
  margin-bottom: 30px;
  margin-top: 50px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.nav-logo {
  display: block;
  font-size: 30px;
  float: left;
  margin: 20px;
  letter-spacing: 2px;
}

.nav-logo:hover {
  cursor: grab;
}

.nav-user-options {
  display: block;
  float: right;
  margin: 20px;
  width: auto;
}

/*.logout {
  margin-bottom: 5px;
}*/

.nav-user-options li {
  display: block;
  float: left;
  padding: 10px;
}
