/* Restaurant Index */

.restaurant-index-items {
  width: 600px;
  float: left;
}

/*
.restaurant-index-item {
  font-size: 16px;
  display: block;
  margin: 10px;
  background-image: linear-gradient(to bottom, #CF4858, #CC1414);

  opacity: 2.5;
  height: 100px;
  width: 600px;
  border: 3px solid black;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  border-radius: 15px;
  overflow: hidden;
  float: right;
}*/

.restaurant-index-item {
  font-size: 16px;
  display: block;
  margin: 5px;
  /*background-image: linear-gradient(to bottom, lightgray, gray);*/

  height: 100px;
  width: 600px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background: transparent;
  /*-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);*/
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  /*border-radius: 15px;*/
  overflow: hidden;
  float: right;
}

.restaurant-index-items-container {
  width: 400px;
  float: right;
}

.restaurant-index-items-container label {
  display: block;
  width: 300px;
  float: left;
}

.restaurant-index-items-image {
  width: 150px;
  height: 100px;
  float: left;
}

.restaurant-index-item:hover {
  background: #E51616;
  color: white;
  opacity: 1;
}

.restaurant-index-items-body {
  float: right;
  padding: 10px 90px 15px 15px;
}

.restaurant-index-items-body li {
  display: block;

}

.restaurant-index-items-body li:first-child {
  font-size: 20px;
  font-weight: bold;
}

/*
.restaurant-index-items-name {
  display: block;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.restaurant-index-items-address {
  display: block;
}

.restaurant-index-items-phone {
  display: block;
}

.restaurant-index-items-categories {
  display: block;
}*/
