.review-tags {
  display: block;
  padding-top: 20px;
}

.review-tags li {
  display: block;
  float: left;
  width: 150px;
}

.review-tags input {
  width: 50px;
  float: left;
}

.review-tags div {
  width: 100px;
  float: left;
}

.num_tags {
  display: block;
}

.review-tags-button {
  display: block;
  background: #eee;
  text-align: center;
  width: 100px;
  border: 1px solid black;
}

.review-tags-button:active {
  background: pink;
}

.pressed {
  background: pink;
}
