.user-posts {
  width: 700px;
  float: left;
}

.user-ratings {
  width: 300px;
  float: right;
}

.user-ratings {
  margin-bottom: 10px;
}

.header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.user-tags {
  width: 300px;
  float: right;
}

.ratings-tags {
  width: 300px;
  float: right;
}
